
<div class="container">
<nav>
    <ul>
      <li class="admin">
        <img src="../../assets/admin.png" alt="" class="admingPng">
        <div class="adminText">
          <p style="text-transform: uppercase;">{{username}}</p>
          <span class="status">{{role}}</span>
        </div>
      </li>
  
      <li [routerLink]="['/admin/dashboard']" routerLinkActive="active-link"><img src="../../assets/Vector-1.png" alt="" style="filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(232deg) brightness(101%) contrast(98%);"><p>Dashboard</p></li>
      <li><img src="../../assets/Vector-2.png" alt=""><p>Messages</p></li>
      <li><img src="../../assets/Vector-3.png" alt=""><p>Jobs</p></li>
      <li> <img src="../../assets/Vector-4.png" alt=""><p>Candidates</p></li>
      <li><img src="../../assets/Vector-5.png" alt=""><p>Resumes</p></li>
      <li><img src="../../assets/user-alt.png" alt=""><p>Employee Management</p></li>
      <li [routerLink]="['/admin/leave']" routerLinkActive="active-link"><img src="../../assets/book-open.png" alt=""><p>Leave Management</p></li>
      <li><img src="../../assets/Vector-6.png" alt=""><p>Perfromance Management</p></li>
      <button class="logOutButton" (click)="logout()"><img src="../../assets/log.png" alt=""><p>Log Out</p></button>
    </ul>
  </nav>
  <main>
<router-outlet></router-outlet>
</main>
</div>