<form action="">
    <button class="button-36 reg"><a href="#">Don’t have an account yet?</a>
    </button>
    <div class="container">
        <div class="leftSide">
       <div class="inputs">
        <h1>Login</h1>
        <span class="login">Login to your account</span>
        <div class="inputbox">
            <input type="text" required="required">
            <span>Username</span>
            <i></i>
        </div>
        <div class="inputbox">
            <input type="text" required="required">
            <span>Password</span>
            <i></i>
        </div>
        <button class="button-36">Login</button>
       </div>
</div>
<div class="rightSide">
    <div class="overlay"></div>
    <h2 class="rightSideH">Manage all <span class="yellow">HR Operations </span> from the comfort of your home.</h2>

</div>
</div>




  

</form>