<div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>
<div class="leftSide">
<form action="" (ngSubmit)="onSubmit()">


    <div class="container">
        
        <div class="leftSide">
         
       <div class="inputs">
        <h1>Login</h1>
        <span class="login">Login to your account</span>
        <div class="inputbox">
            <input type="text" required="required" name="email" [(ngModel)]="loginForm.email">
            <span>email</span>
            <i></i>
        </div>
        <div class="inputbox">
            <input type="text" required="required" name="password" [(ngModel)]="loginForm.password">
            <span>Password</span>
            <i></i>
        </div>
        <button class="button-36" type="submit">Login</button>
        <br>
  
        <a href="#" class="reg">Don’t have an account yet?</a>
       </div>
</div>
<div class="rightSide">
    <div class="overlay"></div>
    <h2 class="rightSideH">Manage all <span class="yellow">HR Operations </span> from the comfort of your home.</h2>
</div>
</div>

</form>