
<form action="" [formGroup]="formGroup">
<h1>Register</h1>
<div class="inps">
    <div class="coolinput">
        <label for="input" class="text">First Name:</label>
        <input type="text" placeholder="Write here..." name="firstName" class="input" formControlName="firstName">
    </div>

    <div class="coolinput">
        <label for="input" class="text">Last Name:</label>
        <input type="text" placeholder="Write here..." name="lastName" class="input" formControlName="lastName">
    </div>
</div>
<div class="inps">
    <div class="coolinput">
        <label for="input" class="text">Email:</label>
        <input type="text" placeholder="Write here..." name="email" class="input" formControlName="email">
    </div>

    <div class="coolinput">
        <label for="input" class="text">Phone Number:</label>
        <input type="number" placeholder="Write here..." name="phoneNumber" class="input" formControlName="phoneNumber"> 
    </div>
</div>
<div class="inps">
    <div class="coolinput">
        <label for="input" class="text">Password</label>
        <input type="password" placeholder="Write here..." name="password" class="input" formControlName="password">
    </div>

    <div class="coolinput">
        <label for="input" class="text">Repeat Password:</label>
        <input type="password" placeholder="Write here..." name="rePassword" class="input" formControlName="confirmPassword">
    </div>
</div>


    <div class="label">
        <input type="checkbox" name="agree" id="agree">
        <label for="agree">I agree to all the <a href=#>Terms, Privacy Policy</a></label>
    </div>
    
  
    <button class="button-36">Register</button>
    <p class="alredy">Alredy have an account? <a href="#">Login</a></p>

</form>