::ng-deep body{
  font-family:cursive;
  background-image: url(../../assets/bakground2.jpg);
  background-size: cover;
  overflow-x: hidden;
}


form{
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;    
    color: black;
    align-items: center;


}

h1{
  text-align: center;
  width: 100%;
  font-size: 50px;
}
h2{
  color: black;
  height: 1vh;
  padding: 10px;
  font-size: 40px;
}


form input{
    width: 25em;
    padding: 10px;
}

.button-36{
    width: 15em;
}

.label{
    display: flex;
    margin-top: 1rem;
    padding: 10px;
    align-items: center;
    margin-left: 1rem;
}

.label input {
    width: max-content;
    cursor: pointer;
    width: 25px;
    height: 25px;
}


  .alredy{
    text-align: center;
    width: 100%;
  }

  .errorMessage{
    color: red;
  }


 
@media screen and (max-width:510px){
  .button-36{
    width: 16em;
  }

  .errorMessage{
    font-size: 15px;
    width: 18em;
  }
  
}


@media screen and (max-width:412px){
  .button-36{
    width: 10em;
    font-size: 20px;
  }
}
