::ng-deep body{

  font-family:cursive;
  background-image: url(../../assets/bakground2.jpg);
  background-size: cover;

}


form{
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 65rem;
    justify-content: center;    
    color: black;
    align-items: start;

}

h1{
  text-align: center;
  width: 100%;
  font-size: 50px;
}
h2{
  color: black;
  height: 1vh;
  padding: 10px;
  font-size: 40px;
}


form input{
    width: 30rem;
    padding: 10px;
}

.button-36{
    width: 80%;
    margin-left: auto;
    margin-right: auto
}

.label{
    display: flex;
    margin-top: 1rem;
    padding: 10px;
    align-items: center;
    margin-left: 1rem;
}

.label input {
    width: max-content;
    cursor: pointer;
    width: 25px;
    height: 25px;
}


  .inps{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .alredy{
    text-align: center;
    width: 100%;
  }

