<form action="">
    <div class="inps">
        <input type="text" name="firstName" id="firstName">
        <input type="text" name="lastName" id="lastName">
    </div>

    <div class="inps">
        <input type="email" name="email" id="email">
        <input type="number" name="phoneNumber" id="phoneNumber">
    </div>
    <div class="inps">
        <input type="password" name="password" id="password">
        <input type="password" name="reapetPassword" id="reapetPassword">
    </div>
    
    
    

    <input type="checkbox" name="agree" id="agree">
    <button class="button-36">Register</button>
    <p>Alredy have account?<a href="#">Login</a></p>

</form>