img{
    width: 100%;
    height: 100vh;
}





.card {
    background: #f4f4f4;
    padding: 30px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .card img {
    width: 75px;
    height: 55px;
    margin-bottom: 10px;
  }
  
  .cardText p {
    margin: 5px 0;
    font-size: 24px;
    font-weight: bolder;
  }

  .cardText{
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  
  .owl-carousel .card {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
  }
  

  main{
    padding-left: 2rem;
  }
  

  main h1{
    margin-bottom: 2rem;
  }


  .group img{
    width: 80px;
    height: 80px;
  }

  .group{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 1rem;
    background-color: #FFFFFF;
    width: 49%;
    border-radius: 1rem;
  }

h2{
  padding: 10px;
}

  .cardCont{
    background-color: #E3EDF9;
    display: flex;
    align-items: center;
    border-radius: 1rem;
  }

  .cardContText span{
    color: gray;
  }

  .employees .cardCont{
    padding: 1rem;
  }

  .employees img{
    width: 60px;
    height: 60px;
    margin-right: 1rem;
  }

  .content{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    
  }
  .view {
    background-color: #3F861E;
    padding: 10px;
    border-radius: 50%;
    height: 40px !important;
    width:  45px !important;
    margin-left: auto;
    cursor: pointer;
}


.employeesBtns{
    margin-left: auto;
}
.employeesBtns img{
  background-color: #3F861E;
  height: 40px !important;
  width:  45px !important;
  padding: 10px;
  cursor: pointer;

}


.progressContainer{
  background-color: #FFC20E;
  height: 20px;
  width: 10rem;
  margin-left: auto;
  border-radius: 1rem;
}

.progressBar{
  background-color: #3F861E;
  width: 100%;
  height: 20px;
  border-radius: 1rem;
}

.leftCont{
  margin-left: auto;
}

.leftCont p{
  text-align: center;
  font-weight: bold;
  margin-bottom: 0.5rem;
}