<header>
  <img src="../../assets/Group 47.svg" alt="">

  <input type="text" placeholder="Search...">
  <div class="options">
    <img src="../../assets/bell.png" alt="" style="background-color: #253D90;">
    <img src="../../assets/wrench.png" alt="" style="background-color: #FFC20E;">
    <img src="../../assets/Vector-2.png" alt="" style="background-color: #3F861E;">
  </div>
</header>

<main>
  <h1>Dashboard</h1>

  <!-- Owl Carousel Section -->
  <div class="owl-carousel owl-theme">
    <div class="card">
      <img src="../../assets/messageBlack.png" alt="">
      <div class="cardText">
        <p>4</p>
        <p>Messages</p>
      </div>
    </div>
    <div class="card" style="background-color: #253D90; color: white;">
      <img src="../../assets/cardBag.png" alt="">
      <div class="cardText">
        <p>4</p>
        <p>Messages</p>
      </div>
    </div>
    <div class="card" style="background-color: #3F861E; color: white;">
      <img src="../../assets/candidates.png" alt="">
      <div class="cardText">
        <p>4</p>
        <p>Messages</p>
      </div>
    </div>
    <div class="card" style="background-color: #232423; color: white;">
      <img src="../../assets/cardResume.png" alt="" style="width: 60px;">
      <div class="cardText">
        <p>4</p>
        <p>Messages</p>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/cardEmploye.png" alt="">
      <div class="cardText">
        <p>4</p>
        <p>Messages</p>
      </div>
    </div>
    <div class="card" style="background-color: #253D90; color: white;">
      <img src="../../assets/cardLeaves.png" alt="">
      <div class="cardText">
        <p>4</p>
        <p>Messages</p>
      </div>
    </div>
    <div class="card" style="background-color: #3F861E; color:white;">
      <img src="../../assets/cardMoney.png" alt="">
      <div class="cardText">
        <p>4</p>
        <p>Messages</p>
      </div>
    </div>
  </div>

  <div class="content employees">
    <!--Applied Jobs-->
    <div class="group">
      <h2>Applied Jobs</h2>
      <div class="cardCont">
        <img src="../../assets/applied1.png" alt="">
        <div class="cardContText">
          <h3>Sales Executive</h3>
          <span>Access Bank</span>
        </div>
      </div>
      <div class="cardCont">
        <img src="../../assets/applied2.png" alt="">
        <div class="cardContText">
          <h3>User Experience Designer</h3>
          <span>Paystack</span>
        </div>
      </div>
      <div class="cardCont">
        <img src="../../assets/applied3.png" alt="">
        <div class="cardContText">
          <h3>Product Manager</h3>
          <span>T-pay</span>
        </div>
      </div>
    </div>



    <!-- Employees -->
    <div class="group employees">
      <h2>Employees</h2>
      <div class="cardCont">
        <img src="../../assets/person.png" alt="">
        <div class="cardContText">
          <h3>Aman</h3>
          <span>Role : Product Manager </span>
        </div>
        <div class="employeesBtns">
          <img src="../../assets/view.png" alt="">
          <img src="../../assets/download.png" alt="" style="background-color: #253D90;">
        </div>
      </div>
      <div class="cardCont">
        <img src="../../assets/person2.png" alt="">
        <div class="cardContText">
          <h3>gelila</h3>
          <span>Role : Sales Executive</span>
        </div>
        <div class="employeesBtns">
          <img src="../../assets/view.png" alt="">
          <img src="../../assets/download.png" alt="" style="background-color: #253D90;">
        </div>
      </div>
      <div class="cardCont">
        <img src="../../assets/person3.png" alt="">
        <div class="cardContText">
          <h3>Biruk</h3>
          <span>Role : UI UX Designer</span>
        </div>
        <div class="employeesBtns">
          <img src="../../assets/view.png" alt="">
          <img src="../../assets/download.png" alt="" style="background-color: #253D90;">
        </div>
      </div>
    </div>

    <!-- Candidates -->
    <div class="group employees">
      <h2>{{currentMonth | date:'MMM'}} Payrolls</h2>
      <div class="cardCont">
        <img src="../../assets/person.png" alt="">
        <div class="cardContText">
          <h3>Feven Tesfaye</h3>
          <span>Applied for : backend Engineer</span>
        </div>
        <img src="../../assets/view.png" alt="" class="view">
      </div>
      <div class="cardCont">
        <img src="../../assets/person2.png" alt="">
        <div class="cardContText">
          <h3>Yanet mekuriya</h3>
          <span>Applied for : Sales </span>
        </div>
        <img src="../../assets/view.png" alt="" class="view">
      </div>
      <div class="cardCont">
        <img src="../../assets/person3.png" alt="">
        <div class="cardContText">
          <h3>Aman beyene</h3>
          <span>Applied for : Product Manager</span>
        </div>
        <img src="../../assets/view.png" alt="" class="view">
      </div>
    </div>

    <!-- April Payrolls -->
    <div class="group employees">
      <h2>Employees</h2>
      <div class="cardCont">
        <img src="../../assets/person.png" alt="">
        <div class="cardContText">
          <h3>Aman</h3>
          <span>Salary Amount :  30,000 Birr</span>
        </div>
        <div class="leftCont">
          <p>Paid</p>
        <div class="progressContainer">
          <div class="progressBar"></div>
        </div>
      </div>
      </div>
      <div class="cardCont">
        <img src="../../assets/person2.png" alt="">
        <div class="cardContText">
          <h3>Gelila</h3>
          <span>Salary Amount :  50,000 Birr</span>
        </div>
        <div class="leftCont">
        <p>Processing</p>
        <div class="progressContainer" style="background-color:#FFC20E;">
          <div class="progressBar" style="background-color: black; width: 30%;"></div>
        </div>
      </div>
      </div>
      <div class="cardCont">
        <img src="../../assets/person3.png" alt="">
        <div class="cardContText">
          <h3>BIruk</h3>
          <span>Salary Amount : 40,000 Birr</span>
        </div>
        <div class="leftCont">
          <p>Processing</p>
        <div class="progressContainer" style="background-color:#FFC20E;">
          <div class="progressBar"  style="background-color: black; width: 30%;"></div>
        </div>
      </div>
      </div>
    </div>
  </div>

</main>
