form{
    width: 40%;
    margin:auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}


.coolinput{
    width: 100%;
}

form button{
    width: 30%;
    align-self: center;
}

select{
    padding: 20px;
}


